nav {
    height: 50px;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
        text-decoration: none;
        color: lightgray;
        
    }
}