* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow-x: hidden;

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}





header {
  background-color: darkgreen;
  color: wheat;
  padding: 0.5rem 0;
}

.navHolder {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.navHolder .logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(129, wheat, 85);
}

.navHolder ul {
  list-style: none;
}

.navHolder a {
  color: inherit;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-grow: 1;
}

.clickContainer {
    position: absolute;
    /* z-index: -1; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.nav--ul__one{
    margin: 0 auto;
}

.navHolder, .nav--ul__one, .nav--ul__two {
    display: flex;
    gap: 1.6rem;
    font-size: 1.2rem;   
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 3;
}


#app {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.circle-container {
    width: 357px;
    height: 357px;
    /* background-color: lightyellow; */
    position: relative;
}

.small-circle {
    width: 168px;
    height: 168px;
    position: absolute;
    background-color: darkgoldenrod;
    border-radius: 50%;
    right:-50px;
    top: -50px;
    display: flex;
    z-index: -2;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 10px 6px .2px rgba(130, 130, 160, .8);
}

.yellow-cricle{
    background-color: rgb(239, 255, 18);
    border-radius: 50%;
    width: 357px;
    height: 357px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: -5px 10px 6px .2px rgba(130, 130, 160, .8);
    position: absolute;
    z-index: -1;
}


@media (max-width: 700px) {

    .navHolder .logo {
        font-size: 1.2rem;
        z-index: 2;
    }
    .nav {
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 100%;


        padding-top: 6rem;
        align-items: center;
        text-align: center;

        background-color: darkgreen;

        transition: 0.4s ease-in-out;
    }

    .nav.active {
        right: 0;
    }

    .nav--ul__one, .nav--ul__two {
        flex-direction: column;
        gap: .6rem;
        z-index: 2;
    }
    .hamburger-menu{
        display: block;
    }
}