nav {
    height: 50px;
    background-color: #50682A;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    a{
    color: whitesmoke;
    text-decoration: none;
    }
}