nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $black;
  height: 100px;

  .logo {
    a {
      display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    }
    h1 {
        color: $beige;
        padding-top: 15px;
        padding-left: 20px;
    }

    img {
      max-width: 75px;
    }
  }

  .links {
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // padding: 40px;
    a {
      color: $beige;
      text-decoration: none;
      padding: 20px;
      font-size: 18px;
    }
  }
}
