//Fonts
@font-face {
    font-family: "nanumBold";
    src: url(../css/fonts/NanumGothicCoding-Bold.ttf);
}
@font-face {
    font-family: "nanum";
    src: url(../css/fonts/NanumGothicCoding-Regular.ttf);
}



// Colors
$lightGreen : #ABBE9A;
$black : #010107;
$blueGray : #092427;
$darkGreen : #36533E;
$gray : #545C52;