@font-face {
    font-family: Caveat;
    src: url(/assets/fonts/Caveat-Regular.ttf);
};

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato-Regular.ttf);
};

@font-face {
    font-family: LatoItalic;
    src: url(../assets/fonts/Lato-Italic.ttf);
};

@font-face {
    font-family: LatoBlack;
    src: url(../assets/fonts/Lato-Black.ttf);
};
@font-face {
    font-family: LatoThin;
    src: url(../assets/fonts/Lato-Thin.ttf);
}