@import "./navFoot.scss";
@import "./fonts.scss";
@import "./home.scss";
//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  font-family: lato;
}

//Header Styling
header {
  // background-color: darkgreen;
  color: black;
  padding: 0.5rem 0;
  font-family: Caveat;
  font-size: 25px;
}

//App Styling
#app {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
//   height: calc(100% - 125px); 
}
