footer {
    height: 50px;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    p {
        padding-top: 15px;
        color: whitesmoke;
    }
}