/* Error: Positional arguments must come before keyword arguments.
 *   ,
 * 4 |     background-color: rgba($color:0,0,0,0.7);
 *   |                                     ^
 *   '
 *   scss\modal.scss 4:37  @import
 *   scss\styles.scss 4:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Positional arguments must come before keyword arguments.\a   \2577 \a 4 \2502      background-color: rgba($color:0,0,0,0.7);\d\a   \2502                                      ^\a   \2575 \a   scss\\modal.scss 4:37  @import\a   scss\\styles.scss 4:9  root stylesheet";
}
